.container{
  display: flex;
  flex-direction: column;
}

.title{
  display: flex;
  align-items: center;
  height: 64px;
}

.name{
  text-align: center;
}

.list{
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 0 60px;
}

.item{
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  padding-right: 20px;
}

.item:last-child{
  padding-right: 0;
}
